.ListItemContainer {
  margin-top: 0.25rem;
}

.ListItem {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--xlight);
}

.ListItem a {
    color: inherit;
}
.ListItem:hover {
  background-color: lavender;
}
