@page "/about"

@code {
}

<PageTitle>About me</PageTitle>

<div class="container">
    <div>
        <h1>About me</h1>
    </div>
    <div class="profile-container">
        <figure class="profile">
            <img src="/images/avatars/rian-magic.jpeg" />
        </figure>
    </div>
    <div class="bio">
        <p>My name is Rian Finnegan, and I'm a father, founder, developer, and musician. </p>
    </div>
</div>