@page "/"

@code {

}

<PageTitle>Posts</PageTitle>

<h1>Rian XYZ</h1>
<hr/>

<h2>
    Hey, I'm Rian.
</h2>
<p>
    This is a site I play with. Yeah I know, it needs a heap of work. It's a Blazor site deployed on Cloudflare's edge network, so that's pretty cool.
</p>

<a target="_blank" href="https://blinq.me/rian?utm_source=rian.xyz"> My Blinq Card</a>
