@page "/"
@using UI.Components;

@code {
    private Model.Post[] posts = new Model.Post[]
    {
        Model.Posts.Get(Model.Posts.CherryReflections),
        Model.Posts.Get(Model.Posts.LearningToTrade),
        Model.Posts.Get(Model.Posts.OnFreeWill),
        Model.Posts.Get(Model.Posts.PowerOfStone),
        Model.Posts.Get(Model.Posts.WhatHappenedToTheInternet),
    };
}

<PageTitle>Posts</PageTitle>

<Stack Gap=@UI.Size.XLarge>

    <Box>
        <h1 style="margin-bottom: 2rem;">
            RIAN XYZ
        </h1>
    </Box>
    <Box MaxWidth="66rem">
        <h2>
            Featured posts
        </h2>

        <Stack Gap=@UI.Size.Large>
            @foreach (var post in posts)
            {
                <PostListItem Post="post" />
            }
        </Stack>
    </Box>

    <Box>

        <h2>
            Links
        </h2>

    </Box>

    <Box>

        <ul>
            <li>

                <a target="_blank" href="https://blinq.me/rian?utm_source=rian.xyz"> My Blinq Card</a>
            </li>
            <li>
                <a target="_blank" href="https://github.com/xtellurian"> Github</a>
            </li>
        </ul>
    </Box>
</Stack>