@page "/"

@code {

}

<PageTitle>Posts</PageTitle>

<h1>Posts</h1>

<ul>

    @foreach (var post in Model.Posts.List().OrderBy((p) => p.PublishedAt))
    {
        <li>
            <a href="post/@post.Id">@post.Title</a>
        </li>
    }
</ul>