@page "/post/{PostId}"
@using Markdig;


@code {

    [Parameter]
    public string? PostId { get; set; }
    public MarkupString RenderedMarkdown { get; set; }
    public Model.Post? PostData
    {
        get { return string.IsNullOrEmpty(PostId) ? null : Model.Posts.Get(PostId); }
    }

    protected override async Task OnInitializedAsync()
    {
        var content = await File.ReadAllTextAsync($"Posts/{PostId}.md");
        RenderedMarkdown = (MarkupString)Markdown.ToHtml(content);
        await base.OnInitializedAsync();
    }
}


<PageTitle>Rian XYZ | @PostData?.Title</PageTitle>

<div>
    @PostData?.PublishedAt.ToShortDateString()
</div>

<div class="markdown-content">
    @RenderedMarkdown
</div>
