@page "/posts"
@using UI.Components;

@code {

}

<PageTitle>Rian XYZ | Posts</PageTitle>

<h1>Posts</h1>


<Stack>
    @foreach (var post in Model.Posts.List().OrderByDescending((p) => p.PublishedAt))
    {
        <PostListItem Post="@post" />
    }
</Stack>
